{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title="Корзина" %}

<!-- Start of Cart  section
============================================= -->
<section id="or-main-cart" class="or-main-cart-section">
	<div class="container">
		<div class="or-main-cart-content">
			<div class="row">
				<div class="col-lg-8">
					<div class="or-cart-content-table table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th class="product-remove">&nbsp;</th>
									<th class="product-thumbnail">&nbsp;</th>
									<th class="product-name">Товар</th>
									<th class="product-price">Цена</th>
									<th class="product-quantity">Количество</th> 
								</tr>
							</thead>
							<tbody>
								{% for product_id, item in cart_items.items %}
								<tr>
									<td class="product-remove"> 
										<a href="{% url "remove_from_cart" product_id %}" class="remove">×</a>
									</td>
									<td class="product-thumbnail"> 
										<a href="{% url "product_detail" item.slug %}">
											{% if item.image %}
											<img src="{{item.image}}" class="cart-thumb-img"></a>
											{% endif %}
									</td>
									<td class="product-name" data-title="Product"> 
										<a href="{% url "product_detail" item.slug %}">{{item.name}}</a></td>
									<td class="product-price product-subtotal" data-title="Price"> 
										<span class=" amount">
											<bdi><span class="Price-currencySymbol">{{item.price}}</span>сом</bdi>
										</span>
									</td>
									<td>
										<div class="quantity-field position-relative  d-inline-block">
											<input type="text" value="{{item.quantity|floatformat:0}}" 
											class="quantity-input-arrow quantity-input-2  text-center"
											readonly
											>
										</div>
									</td> 
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="or-cart-copun">
						<div class="or-cart-copun-code">
							<form action="cart.html#">
								<input type="text" placeholder="Coupon Code">
								<button type="submit">Apply</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="or-cart-total-warpper text-center headline pera-content top-sticky">
						<h3>Итого по корзине</h3>
						<table>
							<tbody> 
								<tr>
									<td>
										<p class="v-title">Общая сумма</p>
									</td>
									<td>
										<p class="v-price">	{{cart_total_price}} сом</p>
									</td>
								</tr>
							</tbody>
						</table>
						<a class="d-flex justify-content-center align-items-center" href="">
							Procced To Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Cart section
============================================= -->			

{% endblock content %} 	