{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}
<!-- End of header section
	============================================= -->

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative" data-background="assets/img/bg/bg-page-title.jpg">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="or-breadcrumbs-content text-center">
				<div class="page-title headline"><h1>Contact</h1></div>
				<div class="or-breadcrumbs-items ul-li">
					<ul>
						<li><a href="contact.html#">Home</a></li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of Breadcrumb section
	============================================= -->

<!-- Start of contact info section
	============================================= -->
	<section id="or-contact-info" class="or-contact-info-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6">
					<div class="or-contact-innerbox headline or-contact-innerbox-layout1">
						<div class="item--inner bg-image">
							<div class="item--icon icon-psb">
								<i aria-hidden="true" class="flaticon-map"></i>
							</div>
							<h4 class="item--title"> Address:</h4>
							<div class="item--description">30 Commercial Road Fratton, <br>Australia</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-contact-innerbox headline or-contact-innerbox-layout1">
						<div class="item--inner bg-image">
							<div class="item--icon icon-psb">
								<i aria-hidden="true" class="flaticon-phone-call"></i>
							</div>
							<h4 class="item--title"> Phone Number:</h4>
							<div class="item--description">1-888-452-1505
								<br>1-888-452-1340
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-contact-innerbox headline or-contact-innerbox-layout1">
						<div class="item--inner bg-image">
							<div class="item--icon icon-psb">
								<i aria-hidden="true" class="flaticon-email"></i>
							</div>
							<h4 class="item--title"> Mail Address:</h4>
							<div class="item--description">helo@organico.com <br>helo@envato.com</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of contact info section
	============================================= -->

<!-- Start of contact Form section
	============================================= -->
	<section id="or-contact-form" class="or-contact-form-section">
		<div class="container">
			<div class="or-contact-form-wrapper">
				<div class="or-section-title headline pera-content text-center middle-align">
					<span class="sub-title">Contact Us</span>
					<h2>Feel free to contact
					with us any time.</h2>
				</div>
				<div class="or-contact-form-content">
					<form action="https://html.themexriver.com/organio/contact.php" method="post">
						<div class="row">
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Full name*</label>
									<input type="text" name="name" placeholder="Jhon Doe">
								</div>
							</div>
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Mail Address*</label>
									<input type="email" name="Email" placeholder="example@email.com">
								</div>
							</div>
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Your Number*</label>
									<input type="text" name="phone" placeholder="+8595136697058">
								</div>
							</div>
							<div class="col-md-6">
								<div class="or-contact-input">
									<label>Subject*</label>
									<input type="text" name="subject" placeholder="Ex: Agriculture, Organico">
								</div>
							</div>
							<div class="col-md-12">
								<div class="or-contact-input">
									<label>Type your message*</label>
									<textarea name="message" placeholder="Message..."></textarea>
								</div>
							</div>
						</div>
						<div class="or-contact-btn text-center">
							<button type="submit">Send your message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
<!-- End of contact Form section
	============================================= -->				

<!-- Start of Footer section
	============================================= -->
	<footer id="or-footer-1" class="or-footer-section-1" data-background="assets/img/bg/bg-footer-top.png">
		<div class="or-footer-newslatter-1">
			<div class="container">
				<div class="or-footer-newslatter-content headline  position-relative" data-background="assets/img/bg/bg-mailchimp.jpg">
					<span class="or-footer-newslatter-img"><img src="assets/img/bg/mailchimp-image1.png" alt=""></span>
					<div class="or-footer-newslatter-text-form">
						<h3>Subscribe to our Newsletter:</h3>
						<div class="or-footer-newslatter-form position-relative">
							<form action="contact.html#">
								<input type="text" placeholder="type your mail address...">
							</form>
							<button>Subscribe <i class="far fa-long-arrow-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="or-footer-widget-wrapper-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-logo-widget">
								<a href="contact.html#"><img src="assets/img/logo/logo2.png" alt=""></a>
								<p>We work with a passion of taking challenges and creating new ones in advertising sector.	</p>
								<div class="footer-social">	
									<a href="contact.html#" tabindex="0"><i class="fab fa-facebook-f"></i></a>
									<a href="contact.html#" tabindex="0"><i class="fab fa-twitter"></i></a>
									<a href="contact.html#" tabindex="0"><i class="fab fa-dribbble"></i></a>
									<a href="contact.html#" tabindex="0"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget  headline pera-content ul-li-block">
							<div class="or-menu-widget">
								<h2 class="widget-title">Links</h2>
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="service.html">Services</a></li>
									<li><a href="about.html">About us</a></li>
									<li><a href="shop.html">Shop</a></li>
									<li><a href="blog.html">News</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-contact-widget">
								<h2 class="widget-title">Official info:</h2>
								<ul>
									<li><i class="fas fa-map-marker-alt"></i> <span>380 St Kilda Road, Melbourne
									VIC 3004, Australia </span></li>
									<li><i class="fas fa-envelope"></i> <span> info@envato.com  </span> </li>
								</ul>
								<span class="title">Open Hours: </span>
								<p>Mon - Sat: 8 am - 5 pm,
								Sunday: CLOSED</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-gallery-widget">
								<h2 class="widget-title">Photo Gallery</h2>
								<ul class="zoom-gallery">
									<li><a href="assets/img/gallery/gl1.jpg" data-source="assets/img/gallery/gl1.jpg"><img src="assets/img/gallery/gl1.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl2.jpg" data-source="assets/img/gallery/gl2.jpg"><img src="assets/img/gallery/gl2.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl3.jpg" data-source="assets/img/gallery/gl3.jpg"><img src="assets/img/gallery/gl3.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl4.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl4.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl5.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl5.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl6.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl6.jpg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="or-footer-copyright text-center" data-background="assets/img/bg/bg-footer-bottom.png">
			<span>© 2021 Organio - Organic. All rights reserved.</span>
		</div>
	</footer>
<!-- End of Footer section
	============================================= -->	

 
{% endblock content %} 