{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title="Галерея" %}

<!-- Start of project section
============================================= -->
<section id="or-project-feed" class="or-project-feed-section">
	<div class="container">
		<div class="or-project-feed-content">
			<div class="row">
				{% for photo in photos %}
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="{{photo.image.url}}" alt="">
						</div>
						{% if photo.title %}
						<div class="or-portfolio-text headline">
							<h3><a href="#">{{photo.title}}</a></h3>
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="or-pagination text-center ul-li">
				<ul>
					{% if page_obj.has_previous %}
					<li><a class="active" href="?page=1">1</a></li>
					<li><a href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
					{% endif %}
					<span>
						Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
					</span>
					{% if page_obj.has_next %}
					<li><a href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
					<li><a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
					{% endif %}
				</ul>
			</div>	
		</div>
	</div>
</section>
<!-- End of project section
============================================= -->			

{% endblock content %}