{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title="Галерея" %}

<!-- Start of project section
============================================= -->
<section id="or-project-feed" class="or-project-feed-section">
	<div class="container">
		<div class="or-project-feed-content">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port1.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port2.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port3.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port4.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port5.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port6.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port7.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="or-portfolio-innerbox position-relative">
						<div class="or-portfolio-img">
							<img src="assets/img/portfolio/port8.jpg" alt="">
						</div>
						<div class="or-portfolio-text headline">
							<h3><a href="project-single.html">Organic Grape</a></h3>
							<span><a href="project-single.html">Farming fruits</a></span>
							<a class="read-more d-flex justify-content-center align-items-center" href="project-single.html"><img src="assets/img/icon/arrow2.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="or-pagination text-center ul-li">
				<ul>
					<li><a class="active" href="project.html#">1</a></li>
					<li><a href="project.html#">2</a></li>
					<li><a href="project.html#">3</a></li>
				</ul>
			</div>	
		</div>
	</div>
</section>
<!-- End of project section
============================================= -->			

{% endblock content %}