{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title=query %}

<!-- Start of Blog feed  section
============================================= -->
<section id="or-blog-feed" class="or-blog-feed-section">
	<div class="container">
		<div class="or-section-title headline pera-content text-center middle-align">
			<h2>Поиск по запросу: "{{query}}"</h2>
		</div>
		<div class="or-blog-feed-content">

            <div class="row">
				{% for new in news_list %}
				<div class="col-lg-4 col-md-6">
					<div class="or-blog-innerbox">
						<div class="or-blog-img position-relative">
							{% if new.image %}
							<img src="{{new.image.url}}" alt="">
							{% else %}
							<img src="https://upravafilipark.ru/files/data/user/AiF/milana/files/2020/2020.09.21-1600669725.4837_b4d89a59-4f5e-44e2-9b83-86a648c8836a.jpeg" alt="">
							{% endif %}
						</div>
						<div class="or-blog-text headline position-relative">
							<div class="blog-meta">
								<a href="{% url "news_detail" new.slug %}"><i class="fas fa-calendar-alt"></i> {{new.created_at}}</a>
							</div>
							<h3><a href="{% url "news_detail" new.slug %}">
								{{new.title}}
							</a></h3>
						</div>
					</div>
				</div>
				{% endfor %}
                <!-- Товары -->
                 {% for new in products %}
				<div class="col-lg-4 col-md-6">
					<div class="or-blog-innerbox">
						<div class="or-blog-img position-relative">
							{% if new.image %}
							<img src="{{new.image.url}}" alt="">
							{% else %}
							<img src="https://upravafilipark.ru/files/data/user/AiF/milana/files/2020/2020.09.21-1600669725.4837_b4d89a59-4f5e-44e2-9b83-86a648c8836a.jpeg" alt="">
							{% endif %}
						</div>
						<div class="or-blog-text headline position-relative">
							<div class="blog-meta">
								<a href="{% url "product_detail" new.slug %}"><i class="fas fa-calendar-alt"></i> {{new.created_at}}</a>
							</div>
							<h3><a href="{% url "product_detail" new.slug %}">
								{{new.name}}
							</a></h3>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="or-pagination text-center ul-li">
				<ul>
					{% if page_obj.has_previous %}
					<li><a class="active" href="?page=1">1</a></li>
					<li><a href="?page={{ page_obj.previous_page_number }}">Назад</a></li>
					{% endif %}
					<span>
						Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
					</span>
					{% if page_obj.has_next %}
					<li><a href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
					<li><a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
					{% endif %}
				</ul>
			</div>	
		</div>
	</div>
</section>

{% endblock content %} 