{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative" data-background="assets/img/bg/bg-page-title.jpg">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="or-breadcrumbs-content text-center">
				<div class="page-title headline"><h1>Shop</h1></div>
				<div class="or-breadcrumbs-items ul-li">
					<ul>
						<li><a href="shop.html#">Home</a></li>
						<li>Shop</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of Breadcrumb section
	============================================= -->

<!-- Start of Shop product section
	============================================= -->
	<section id="or-shop-product" class="or-shop-product-section">
		<div class="container">
			<div class="or-section-title headline pera-content text-center middle-align">
				<span class="sub-title">Products</span>
				<h2>All of our products are
				organic & fresh.</h2>
			</div>
			<div class="or-product-shop-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro1.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html" tabindex="0">Organic Juice</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="shop.html#" tabindex="0">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro2.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html">Fresh Orange</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="cart.html">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro3.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html">Organic Cabbage</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="cart.html">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro4.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html">Brown Bread</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="cart.html">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro5.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html" tabindex="0">Fresh Juice</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="shop.html#" tabindex="0">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro6.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html">Organic Rice</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="cart.html">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro7.png" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html">Red Apple Envy</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="cart.html">Add To Cart</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="or-product-innerbox-item type-1 text-center position-relative">
								<div class="e-commerce-btn">
									<a href="shop.html#"><i class="fal fa-shopping-cart"></i></a>
									<a href="shop.html#"><i class="fal fa-heart"></i></a>
									<a href="shop.html#"><i class="fal fa-eye"></i></a>
								</div>
								<div class="or-product-inner-img">
									<img src="assets/img/product/pro8.jpg" alt="">
								</div>
								<div class="or-product-inner-text headline">
									<h3><a href="shop-single.html">Oat Cake</a></h3>
									<span class="price">$10.00-$20.00</span>
									<div class="or-product-rate ul-li">
										<ul>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
											<li><i class="fas fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="or-product-btn text-center">
									<a class="d-flex justify-content-center align-items-center" href="cart.html">Add To Cart</a>
								</div>
							</div>
						</div>
					</div>
					<div class="or-pagination text-center ul-li">
						<ul>
							<li><a class="active" href="shop.html#">1</a></li>
							<li><a href="shop.html#">2</a></li>
							<li><a href="shop.html#">3</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Shop product section
	============================================= -->		

<!-- Start of Footer section
	============================================= -->
	<footer id="or-footer-1" class="or-footer-section-1" data-background="assets/img/bg/bg-footer-top.png">
		<div class="or-footer-newslatter-1">
			<div class="container">
				<div class="or-footer-newslatter-content headline  position-relative" data-background="assets/img/bg/bg-mailchimp.jpg">
					<span class="or-footer-newslatter-img"><img src="assets/img/bg/mailchimp-image1.png" alt=""></span>
					<div class="or-footer-newslatter-text-form">
						<h3>Subscribe to our Newsletter:</h3>
						<div class="or-footer-newslatter-form position-relative">
							<form action="shop.html#">
								<input type="text" placeholder="type your mail address...">
							</form>
							<button>Subscribe <i class="far fa-long-arrow-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="or-footer-widget-wrapper-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-logo-widget">
								<a href="shop.html#"><img src="assets/img/logo/logo2.png" alt=""></a>
								<p>We work with a passion of taking challenges and creating new ones in advertising sector.	</p>
								<div class="footer-social">	
									<a href="shop.html#" tabindex="0"><i class="fab fa-facebook-f"></i></a>
									<a href="shop.html#" tabindex="0"><i class="fab fa-twitter"></i></a>
									<a href="shop.html#" tabindex="0"><i class="fab fa-dribbble"></i></a>
									<a href="shop.html#" tabindex="0"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget  headline pera-content ul-li-block">
							<div class="or-menu-widget">
								<h2 class="widget-title">Links</h2>
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="service.html">Services</a></li>
									<li><a href="about.html">About us</a></li>
									<li><a href="shop.html">Shop</a></li>
									<li><a href="blog.html">News</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-contact-widget">
								<h2 class="widget-title">Official info:</h2>
								<ul>
									<li><i class="fas fa-map-marker-alt"></i> <span>380 St Kilda Road, Melbourne
									VIC 3004, Australia </span></li>
									<li><i class="fas fa-envelope"></i> <span> info@envato.com  </span> </li>
								</ul>
								<span class="title">Open Hours: </span>
								<p>Mon - Sat: 8 am - 5 pm,
								Sunday: CLOSED</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-gallery-widget">
								<h2 class="widget-title">Photo Gallery</h2>
								<ul class="zoom-gallery">
									<li><a href="assets/img/gallery/gl1.jpg" data-source="assets/img/gallery/gl1.jpg"><img src="assets/img/gallery/gl1.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl2.jpg" data-source="assets/img/gallery/gl2.jpg"><img src="assets/img/gallery/gl2.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl3.jpg" data-source="assets/img/gallery/gl3.jpg"><img src="assets/img/gallery/gl3.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl4.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl4.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl5.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl5.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl6.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl6.jpg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="or-footer-copyright text-center" data-background="assets/img/bg/bg-footer-bottom.png">
			<span>© 2021 Organio - Organic. All rights reserved.</span>
		</div>
	</footer>
<!-- End of Footer section
	============================================= -->	


{% endblock content %} 