{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

<!-- Start of Breadcrumb section
============================================= -->
<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative" data-background="assets/img/bg/bg-page-title.jpg">
	<div class="background_overlay"></div>
	<div class="container">
		<div class="or-breadcrumbs-content text-center">
			<div class="page-title headline"><h1>Team</h1></div>
			<div class="or-breadcrumbs-items ul-li">
				<ul>
					<li><a href="team.html#">Home</a></li>
					<li>Team</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End of Breadcrumb section
============================================= -->

<!-- Start of team feed section
============================================= -->
<section id="or-team-feed" class="or-team-feed-section">
	<div class="container">
		<div class="or-section-title headline pera-content text-center middle-align">
			<span class="sub-title">Team member</span>
			<h2>We have awesome team member
			to help support.</h2>
		</div>
		<div class="or-team-feed-content">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="or-team-innerbox">
						<div class="or-team-img position-relative">
							<img src="assets/img/team/tm1.jpg" alt="">
						</div>
						<div class="or-taam-item-holder">
							<div class="or-team-meta text-center headline position-relative">
								<h3><a href="team-single.html">Alisa Lisa</a></h3>
								<span>Customer Care Officer</span>
								<div class="team-item-side-img">
									<img class="side-img" src="assets/img/icon/t-icon2.png" alt="">
									<img class="side-img" src="assets/img/icon/t-icon1.png" alt="">
								</div>
							</div>
							<div class="or-team-text-social pera-content text-center">
								<p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
								<div class="or-team-social">
									<a href="team.html#"><i class="fab fa-facebook-f"></i></a>
									<a href="team.html#"><i class="fab fa-twitter"></i></a>
									<a href="team.html#"><i class="fab fa-dribbble"></i></a>
									<a href="team.html#"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-team-innerbox">
						<div class="or-team-img position-relative">
							<img src="assets/img/team/tm2.jpg" alt="">
						</div>
						<div class="or-taam-item-holder">
							<div class="or-team-meta text-center headline position-relative">
								<h3><a href="team-single.html">Robert Leo</a></h3>
								<span>Farmer</span>
								<div class="team-item-side-img">
									<img class="side-img" src="assets/img/icon/t-icon2.png" alt="">
									<img class="side-img" src="assets/img/icon/t-icon1.png" alt="">
								</div>
							</div>
							<div class="or-team-text-social pera-content text-center">
								<p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
								<div class="or-team-social">
									<a href="team.html#"><i class="fab fa-facebook-f"></i></a>
									<a href="team.html#"><i class="fab fa-twitter"></i></a>
									<a href="team.html#"><i class="fab fa-dribbble"></i></a>
									<a href="team.html#"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-team-innerbox">
						<div class="or-team-img position-relative">
							<img src="assets/img/team/tm3.jpg" alt="">
						</div>
						<div class="or-taam-item-holder">
							<div class="or-team-meta text-center headline position-relative">
								<h3><a href="team-single.html">Nora Bell</a></h3>
								<span>Sales Executive</span>
								<div class="team-item-side-img">
									<img class="side-img" src="assets/img/icon/t-icon2.png" alt="">
									<img class="side-img" src="assets/img/icon/t-icon1.png" alt="">
								</div>
							</div>
							<div class="or-team-text-social pera-content text-center">
								<p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
								<div class="or-team-social">
									<a href="team.html#"><i class="fab fa-facebook-f"></i></a>
									<a href="team.html#"><i class="fab fa-twitter"></i></a>
									<a href="team.html#"><i class="fab fa-dribbble"></i></a>
									<a href="team.html#"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-team-innerbox">
						<div class="or-team-img position-relative">
							<img src="assets/img/team/tm4.jpg" alt="">
						</div>
						<div class="or-taam-item-holder">
							<div class="or-team-meta text-center headline position-relative">
								<h3><a href="team-single.html">Sherri Horton</a></h3>
								<span>Customer Care Officer</span>
								<div class="team-item-side-img">
									<img class="side-img" src="assets/img/icon/t-icon2.png" alt="">
									<img class="side-img" src="assets/img/icon/t-icon1.png" alt="">
								</div>
							</div>
							<div class="or-team-text-social pera-content text-center">
								<p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
								<div class="or-team-social">
									<a href="team.html#"><i class="fab fa-facebook-f"></i></a>
									<a href="team.html#"><i class="fab fa-twitter"></i></a>
									<a href="team.html#"><i class="fab fa-dribbble"></i></a>
									<a href="team.html#"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-team-innerbox">
						<div class="or-team-img position-relative">
							<img src="assets/img/team/tm5.jpg" alt="">
						</div>
						<div class="or-taam-item-holder">
							<div class="or-team-meta text-center headline position-relative">
								<h3><a href="team-single.html"> Sinira Fro</a></h3>
								<span>Farmer</span>
								<div class="team-item-side-img">
									<img class="side-img" src="assets/img/icon/t-icon2.png" alt="">
									<img class="side-img" src="assets/img/icon/t-icon1.png" alt="">
								</div>
							</div>
							<div class="or-team-text-social pera-content text-center">
								<p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
								<div class="or-team-social">
									<a href="team.html#"><i class="fab fa-facebook-f"></i></a>
									<a href="team.html#"><i class="fab fa-twitter"></i></a>
									<a href="team.html#"><i class="fab fa-dribbble"></i></a>
									<a href="team.html#"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="or-team-innerbox">
						<div class="or-team-img position-relative">
							<img src="assets/img/team/tm7.jpg" alt="">
						</div>
						<div class="or-taam-item-holder">
							<div class="or-team-meta text-center headline position-relative">
								<h3><a href="team-single.html"> Alis Preston</a></h3>
								<span>Sales Executive</span>
								<div class="team-item-side-img">
									<img class="side-img" src="assets/img/icon/t-icon2.png" alt="">
									<img class="side-img" src="assets/img/icon/t-icon1.png" alt="">
								</div>
							</div>
							<div class="or-team-text-social pera-content text-center">
								<p>Lisa focuses on providing customers with Organic and Fair Trade Food.</p>
								<div class="or-team-social">
									<a href="team.html#"><i class="fab fa-facebook-f"></i></a>
									<a href="team.html#"><i class="fab fa-twitter"></i></a>
									<a href="team.html#"><i class="fab fa-dribbble"></i></a>
									<a href="team.html#"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="or-pagination text-center ul-li">
				<ul>
					<li><a class="active" href="team.html#">1</a></li>
					<li><a href="team.html#">2</a></li>
					<li><a href="team.html#">3</a></li>
				</ul>
			</div>	
		</div>
	</div>
</section>
<!-- End of team feed section
============================================= -->		

{% endblock content %} 