{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title=news.title %}

<!-- Start of Blog Details section
============================================= -->
<section id="or-blog-details" class="or-blog-details-section">
	<div class="container">
		<div class="or-blog-details-content">
			<div class="row">
				<div class="col-lg-9">
					<div class="or-blog-details-text-inner headline pera-content">
						<div class="blog-details-img position-relative">
							{% if news.image %}
							<img src="{{news.image.url}}" alt="">
							{% else %}
							<img src="https://nazarnews.org/media/news_images/2020/05/27/NazarNews_49563553593097062998281876513878573893.jpg" alt="">
							{% endif %}
						</div>
						<div class="or-blog-details-item">
							<div class="blog-details-text headline">
								<div class="ord-blog-meta-2  position-relative text-capitalize">
									<a href="#"><i class="far fa-clock"></i> {{news.created_at|date:'d M H:m'}}</a> 
								</div>
								<article>
								{{news.title}}	
								</article>
								<article>
									{{news.desc|safe}}
								</article>
							</div>
						</div>
					</div>
					<div class="or-blog-comment headline">
						<h3>Комментарии</h3>
						<div class="or-blog-comment-block-wrapper">
							{% for comment in comments %}
							<div class="or-blog-comment-block">
								<div class="or-blog-comment-text headline pera-content position-relative">
									<h4><a href="blog-single.html#">{{comment.name}}</a></h4>
									<span>{{comment.created_at}}</span>
									<p>{{comment.text}}</p>
								</div>
							</div>
							{% empty %}
							<p>Нет комментариев</p>
							{% endfor %}
						</div>
						<h3>Оставить комментарии</h3>
						<div class="prd-blog-comment-form">
							<form method="post">
								{% csrf_token %}
								<div class="prd-comment-form-input"> 
									<div class="prd-comment-input-wrap d-flex">
										<input type="text" name='name' placeholder="Ваше имя" required> 
									</div>
									<textarea name='text' placeholder="Ваш комментарии..."required></textarea>
									<button type="submit">Опубликовать</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="or-side-bar top-sticky-sidebar">
						<div class="or-side-bar-widget">
							<div class="or-widget-wrap">
								<div class="or-search-widget position-relative">
									<form action="{% url "news_search" %}" method='get'>
										<input type="text" name='q' placeholder="Поиск...">
										<button type='submit'><i class="far fa-search"></i></button>
									</form>
								</div>
							</div> 
							<div class="or-widget-wrap headline ul-li-block">
								<div class="or-rec-widget position-relative">
									<h3 class="widget-title">Последние новости</h3>
									{% for recent in recent_news %}
									<div class="or-recent-blog-img-text clearfix">
										<div class="or-recent-blog-img float-left">
											<img src="{{recent.image.url}}" alt="">
										</div>
										<div class="or-recent-blog-text headline">
											<h3><a href="{{news_detail}}">{{recent.title}}</a></h3>
											<span><i class="far fa-calendar-alt"></i>{{recent.created_at}}</span>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>  
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Blog Details section
============================================= -->		

{% endblock content %} 