{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title=product.name %}

<!-- Start of Shop Details section
============================================= -->
<section id="or-shop-details" class="or-shop-details-section">
	<div class="container">
		<div class="or-shop-details-content">
			<div class="row">
				<div class="col-lg-6">
					<div class="shop-details-img-slider-area">
						<div class="shop-details-img-slider">
							<div class="shop-details-img-wrap">
								<img src="assets/img/product/h6-product3.png" alt="" data-zoomed="assets/img/product/h6-product3.png">
							</div>
							<div class="shop-details-img-wrap">
								<img src="assets/img/product/h6-product4.png" alt="" data-zoomed="assets/img/product/h6-product4.png">
							</div>
							<div class="shop-details-img-wrap">
								<img src="assets/img/product/h6-product1.png" alt="" data-zoomed="assets/img/product/h6-product1.png">
							</div>
						</div>
						<div class="shop-details-img-thumb">
							<div class="or-thumb-img">
								<img src="assets/img/product/h6-product3.png" alt="">
							</div>
							<div class="or-thumb-img">
								<img src="assets/img/product/h6-product4.png" alt="">
							</div>
							<div class="or-thumb-img">
								<img src="assets/img/product/h6-product1.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="shop-details-text  headline pera-content">
						<div class="shop-details-title">
							<h3>{{product.name}}</h3>
						</div>
						<div class="shop-details-rate-review ul-li d-flex">  
							<div class="shop-details-review"><span>20 Отзывов</span> </div>
						</div>
						<div class="shop-details-price">{{product.price}} сом</div>
						<div class="shop-details-text-decs">
							{{product.description|safe}}
						</div>
						<div class="shop-details-option">
							<span class="option-title">Quantity:</span>
							<div class="shop-quantity-option d-flex">
								<div class="quantity-field position-relative  d-inline-block">
									<input type="text" name="select1" value="1" class="quantity-input-arrow quantity-input-2  text-center">
								</div>
								<div class="stock-avaiable">85 штук осталось </div>
							</div>
						</div>
						<div class="shop-details-btn ">
							<a href="shop-single.html#">Добавить в корзину</a>
							<a href="shop-single.html#">Добавить в желаемое</a>
						</div>
						<div class="shop-details-product-code ul-li-block">
							<ul>	
								<li><span>Артикул: </span> {{product.sku}}</li>
								<li><span>Категория: </span>{{product.category.name}}</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Shop Details section
============================================= -->

<!-- Start of Shop details description tab section
============================================= -->
<section id="or-shop-details-tab" class="or-shop-details-tab-section">
	<div class="container">
		<div class="or-shop-details-review-tab-content">
			<div class="or-shop-review-tab-btn">
				<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Описание</button>
					</li> 
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Review (02)</button>
					</li>
				</ul>
			</div>
			<div class="or-shop-details-tab-textarea">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="shop-details-description-text  text-center">
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true gener
							ator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour.
						</div>
					</div> 
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="review-comment-area">
							<div class="review-buyer-box">
								<div class="buyer-review-inner clearfix">
									<div class="buyer-review-pic float-left">
										<img src="assets/img/blog/blg-c1.jpg" alt="">
									</div>
									<div class="buyer-review-text headline">
										<h4>James Fread</h4>
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. onsequat.Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular </span>
										<div class="buyer-review-date position-relative d-inline-block">
											19 Oct 2021
										</div>
									</div>
								</div>
								<div class="buyer-review-inner clearfix">
									<div class="buyer-review-pic float-left">
										<img src="assets/img/blog/blg-c2.jpg" alt="">
									</div>
									<div class="buyer-review-text headline">
										<h4>James Fread</h4>
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. onsequat.Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular </span>
										<div class="buyer-review-date position-relative d-inline-block">
											19 Oct 2021
										</div>
									</div>
								</div>
							</div>
							<div class="buyer-review-comment-box headline">
								<h4 class="float-left">Добавить отзыв:</h4> 
								<form id="buyer-review" action="shop-single.html#">
									<textarea placeholder="Write Your Review"></textarea>
									<input type="text" name="name" placeholder="Your Name...">
									<input type="email" name="email" placeholder="Your Email...">
									<button type="submit">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Shop details description tab section
============================================= -->				

{% endblock content %} 