{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

{% include "includes/breadcrumbs.html" with page_title="Отдельная страница" %}

<!-- Start of Team details section
============================================= -->
<section id="or-team-details" class="or-team-details-section">
	<div class="container">
		<div class="ord-team-details-content">
			<div class="row">
				<div class="col-lg-3">
					<div class="ord-team-details-sidebar">
						<div class="ord-team-details-sidebar-item">
							<div class="ord-team-member-inner-item">
								<div class="ord-team-member-img text-center position-relative">
									<img src="assets/img/team/tmd.jpg" alt="">
								</div>
								<div class="ord-team-member-text headline text-center pera-content">
									<h3><a href="team-single.html">Stephen Louis</a></h3>
									<span>Business Consultant </span>
								</div>
								<div class="ord-team-member-contact ul-li-block">
									<ul>
										<li><i class="far fa-phone-alt"></i>+91 7581 458 21</li>
										<li><i class="fal fa-envelope"></i>Support @gmail.com</li>
										<li><i class="far fa-map-marker-alt"></i>13 Street Road, NY, USA</li>
									</ul>
								</div>
								<div class="ord-team-member-social">
									<span>Follow Me:</span>
									<div class="social-item">
										<a class="fb-icon" href="team-single.html#"><i class="fab fa-facebook-f"></i></a>
										<a class="tw-icon" href="team-single.html#"><i class="fab fa-twitter"></i></a>
										<a class="dri-icon" href="team-single.html#"><i class="fal fa-basketball-ball"></i></a>
										<a class="bh-icon" href="team-single.html#"><i class="fab fa-behance"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="ord-team-details-text-wrap headline pera-content">
						<div class="ord-team-details-text-item">
							<h3>Personal Experience</h3>
							<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
							</p>
						</div>
						<div class="ord-team-details-text-item ul-li-block">
							<h3>Activities</h3>
							<p>who has trouble understanding people or has trouble putting words together to express thoughts might have a language disorder condition.</p>
							<div class="activity-list-progress d-flex">
								<div class="ord-team-details-activity">
									<ul class="activity-list">
										<li>Experienced Attorneys Professional.</li>
										<li>Experienced Attorneys Approach.</li>
										<li>Independence Makes Difference.</li>
										<li>Committed To Helping Our Clients.</li>
									</ul>
								</div>
								<div class="ord-team-details-progress">
									<div class="skill-progress-bar">
										<div class="skill-set-percent headline">
											<h4>Consultency</h4>
											<div class="progress">
												<div class="progress-bar" data-percent="92"></div>
											</div>
										</div>
										<div class="skill-set-percent headline">
											<h4>Finance</h4>
											<div class="progress">
												<div class="progress-bar" data-percent="85"></div>
											</div>
										</div>
										<div class="skill-set-percent headline">
											<h4>Corporate Business</h4>
											<div class="progress">
												<div class="progress-bar" data-percent="75"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ord-team-details-text-item">
							<h3>Qualification</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of Team details  section
============================================= -->		


{% endblock content %} 