{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

<!-- Start of Breadcrumb section
	============================================= -->
	<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative" data-background="assets/img/bg/bg-page-title.jpg">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="or-breadcrumbs-content text-center">
				<div class="page-title headline"><h1>Team Details</h1></div>
				<div class="or-breadcrumbs-items ul-li">
					<ul>
						<li><a href="team-single.html#">Home</a></li>
						<li>Team Details</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of Breadcrumb section
	============================================= -->

<!-- Start of Team details section
	============================================= -->
	<section id="or-team-details" class="or-team-details-section">
		<div class="container">
			<div class="ord-team-details-content">
				<div class="row">
					<div class="col-lg-3">
						<div class="ord-team-details-sidebar">
							<div class="ord-team-details-sidebar-item">
								<div class="ord-team-member-inner-item">
									<div class="ord-team-member-img text-center position-relative">
										<img src="assets/img/team/tmd.jpg" alt="">
									</div>
									<div class="ord-team-member-text headline text-center pera-content">
										<h3><a href="team-single.html">Stephen Louis</a></h3>
										<span>Business Consultant </span>
									</div>
									<div class="ord-team-member-contact ul-li-block">
										<ul>
											<li><i class="far fa-phone-alt"></i>+91 7581 458 21</li>
											<li><i class="fal fa-envelope"></i>Support @gmail.com</li>
											<li><i class="far fa-map-marker-alt"></i>13 Street Road, NY, USA</li>
										</ul>
									</div>
									<div class="ord-team-member-social">
										<span>Follow Me:</span>
										<div class="social-item">
											<a class="fb-icon" href="team-single.html#"><i class="fab fa-facebook-f"></i></a>
											<a class="tw-icon" href="team-single.html#"><i class="fab fa-twitter"></i></a>
											<a class="dri-icon" href="team-single.html#"><i class="fal fa-basketball-ball"></i></a>
											<a class="bh-icon" href="team-single.html#"><i class="fab fa-behance"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="ord-team-details-text-wrap headline pera-content">
							<div class="ord-team-details-text-item">
								<h3>Personal Experience</h3>
								<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
								</p>
							</div>
							<div class="ord-team-details-text-item ul-li-block">
								<h3>Activities</h3>
								<p>who has trouble understanding people or has trouble putting words together to express thoughts might have a language disorder condition.</p>
								<div class="activity-list-progress d-flex">
									<div class="ord-team-details-activity">
										<ul class="activity-list">
											<li>Experienced Attorneys Professional.</li>
											<li>Experienced Attorneys Approach.</li>
											<li>Independence Makes Difference.</li>
											<li>Committed To Helping Our Clients.</li>
										</ul>
									</div>
									<div class="ord-team-details-progress">
										<div class="skill-progress-bar">
											<div class="skill-set-percent headline">
												<h4>Consultency</h4>
												<div class="progress">
													<div class="progress-bar" data-percent="92"></div>
												</div>
											</div>
											<div class="skill-set-percent headline">
												<h4>Finance</h4>
												<div class="progress">
													<div class="progress-bar" data-percent="85"></div>
												</div>
											</div>
											<div class="skill-set-percent headline">
												<h4>Corporate Business</h4>
												<div class="progress">
													<div class="progress-bar" data-percent="75"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="ord-team-details-text-item">
								<h3>Qualification</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Team details  section
	============================================= -->		

<!-- Start of Footer section
	============================================= -->
	<footer id="or-footer-1" class="or-footer-section-1" data-background="assets/img/bg/bg-footer-top.png">
		<div class="or-footer-newslatter-1">
			<div class="container">
				<div class="or-footer-newslatter-content headline  position-relative" data-background="assets/img/bg/bg-mailchimp.jpg">
					<span class="or-footer-newslatter-img"><img src="assets/img/bg/mailchimp-image1.png" alt=""></span>
					<div class="or-footer-newslatter-text-form">
						<h3>Subscribe to our Newsletter:</h3>
						<div class="or-footer-newslatter-form position-relative">
							<form action="team-single.html#">
								<input type="text" placeholder="type your mail address...">
							</form>
							<button>Subscribe <i class="far fa-long-arrow-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="or-footer-widget-wrapper-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-logo-widget">
								<a href="team-single.html#"><img src="assets/img/logo/logo2.png" alt=""></a>
								<p>We work with a passion of taking challenges and creating new ones in advertising sector.	</p>
								<div class="footer-social">	
									<a href="team-single.html#" tabindex="0"><i class="fab fa-facebook-f"></i></a>
									<a href="team-single.html#" tabindex="0"><i class="fab fa-twitter"></i></a>
									<a href="team-single.html#" tabindex="0"><i class="fab fa-dribbble"></i></a>
									<a href="team-single.html#" tabindex="0"><i class="fab fa-behance"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget  headline pera-content ul-li-block">
							<div class="or-menu-widget">
								<h2 class="widget-title">Links</h2>
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="service.html">Services</a></li>
									<li><a href="about.html">About us</a></li>
									<li><a href="shop.html">Shop</a></li>
									<li><a href="blog.html">News</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-contact-widget">
								<h2 class="widget-title">Official info:</h2>
								<ul>
									<li><i class="fas fa-map-marker-alt"></i> <span>380 St Kilda Road, Melbourne
									VIC 3004, Australia </span></li>
									<li><i class="fas fa-envelope"></i> <span> info@envato.com  </span> </li>
								</ul>
								<span class="title">Open Hours: </span>
								<p>Mon - Sat: 8 am - 5 pm,
								Sunday: CLOSED</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">	
						<div class="or-footer-widget headline pera-content ul-li-block">
							<div class="or-gallery-widget">
								<h2 class="widget-title">Photo Gallery</h2>
								<ul class="zoom-gallery">
									<li><a href="assets/img/gallery/gl1.jpg" data-source="assets/img/gallery/gl1.jpg"><img src="assets/img/gallery/gl1.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl2.jpg" data-source="assets/img/gallery/gl2.jpg"><img src="assets/img/gallery/gl2.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl3.jpg" data-source="assets/img/gallery/gl3.jpg"><img src="assets/img/gallery/gl3.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl4.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl4.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl5.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl5.jpg" alt=""></a></li>
									<li><a href="assets/img/gallery/gl6.jpg" data-source="assets/img/gallery/gl4.jpg"><img src="assets/img/gallery/gl6.jpg" alt=""></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="or-footer-copyright text-center" data-background="assets/img/bg/bg-footer-bottom.png">
			<span>© 2021 Organio - Organic. All rights reserved.</span>
		</div>
	</footer>
<!-- End of Footer section
	============================================= -->	


{% endblock content %} 