<!-- Start of Category slider section
============================================= -->
<section id="or-category-slider" class="or-category-slider-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="or-category-menu ul-li-block">
                    <ul>
                        {% for category in categories %}
                        <li>
                            <a href="#">
                                <img width='50px' style='border-radius:10px' src='{{category.image.url}}'> 
                                {{category.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="or-category-main-slider">
                    {% for slid in sliders %}
                    <div class="or-category-slider-item" data-background="{{slid.image.url}}">
                        <div class="or-category-slider-text headline-2 pera-content">
                            <h2>{{slid.title}}</h2>
                            <p>{{slid.desc}}</p>
                            <a href="#"><i class="fas fa-shopping-cart"></i> Купить сейчас</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END of Category slider section
============================================= -->