<!-- Start of Category slider section
============================================= -->
<section id="or-category-slider" class="or-category-slider-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="or-category-menu ul-li-block">
                    <ul>
                        <li><a href="index-2.html#"><i class="flaticon-cardboard"></i> Grocery & Frozen</a></li>
                        <li class="sub-category">
                            <a href="shop.html"><i class="flaticon-cherry"></i> Fresh Fruits</a>
                            <ul>
                                <li><a href="shop.html">Food Type 1</a></li>
                                <li><a href="shop.html">Food Type 2</a></li>
                                <li><a href="shop.html">Food Type 3</a></li>
                            </ul>
                        </li>
                        <li><a href="shop.html"><i class="flaticon-fish"></i> Fresh Fish</a></li>
                        <li><a href="shop.html"><i class="flaticon-coconut"></i>Fresh Nuts</a></li>
                        <li><a href="shop.html"><i class="flaticon-chicken-leg"></i> Fresh Meat</a></li>
                        <li><a href="shop.html"><i class="flaticon-fruits"></i>Bread & Bakery</a></li>
                        <li><a href="shop.html"><i class="flaticon-grocery"></i> Vegetable</a></li>
                        <li class="sub-category">
                            <a href="shop.html"><i class="flaticon-leaf"></i> Organic</a>
                            <ul>
                                <li><a href="shop.html">Food Type 1</a></li>
                                <li><a href="shop.html">Food Type 2</a></li>
                                <li><a href="shop.html">Food Type 3</a></li>
                            </ul>
                        </li>
                        <li><a href="shop.html"><i class="flaticon-carrot"></i> Food</a></li>
                        <li><a href="shop.html"><i class="flaticon-orange-juice"></i> Nature</a></li>
                        <li><a href="shop.html"><i class="flaticon-broccoli"></i> Recipies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="or-category-main-slider">
                    <div class="or-category-slider-item" data-background="assets/h2-bg-slider1.jpg">
                        <div class="or-category-slider-text headline-2 pera-content">
                            <h2>Get your top-quality
                                organic foods online
                            today! </h2>
                            <p>Browse an incredible range of high-quality organic food and drink, delivered direct to your door</p>
                            <a href="shop.html"><i class="fas fa-shopping-cart"></i> Shop Now</a>
                        </div>
                    </div>
                    <div class="or-category-slider-item" data-background="assets/h2-bg-slider1.jpg">
                        <div class="or-category-slider-text headline-2 pera-content">
                            <h2>Get your top-quality
                                organic foods online
                            today! </h2>
                            <p>Browse an incredible range of high-quality organic food and drink, delivered direct to your door</p>
                            <a href="shop.html"><i class="fas fa-shopping-cart"></i> Shop Now</a>
                        </div>
                    </div>
                    <div class="or-category-slider-item" data-background="assets/h2-bg-slider1.jpg">
                        <div class="or-category-slider-text headline-2 pera-content">
                            <h2>Get your top-quality
                                organic foods online
                            today! </h2>
                            <p>Browse an incredible range of high-quality organic food and drink, delivered direct to your door</p>
                            <a href="shop.html"><i class="fas fa-shopping-cart"></i> Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END of Category slider section
============================================= -->