<!-- Start of Category  section
============================================= -->
<section id="or-category-2" class="or-category-section-2">
    <div class="container">
        <div class="or-section-title-2 headline text-center">
            <h2>Категории</h2>
        </div>
        <div class="or-category-content-2 position-relative">
            <div class="category-slider-2">
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat1.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html">Fresh Vegetables</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat2.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html"> Agricultural items</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat3.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html"> Dairy items</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat4.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html"> Frozen items</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat1.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html">Fresh Vegetables</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat2.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html"> Agricultural items</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat3.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html"> Dairy items</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
                <div class="organio-inner-item">
                    <div class="or-category-innerbox-2 text-center">
                        <div class="or-category-img-shape position-relative">
                            <div class="or-category-img position-relative">
                                <img src="assets/img/category/cat4.jpg" alt="">
                                <a href="shop-single.html"><i class="fal fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="or-category-text headline">
                            <h3><a href="shop-single.html"> Frozen items</a></h3>
                            <span>(30 Items)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_nav  clearfix">
                <button type="button" class="or-cat-left_arrow"><i class="far fa-chevron-left"></i></button>
                <button type="button" class="or-cat-right_arrow"><i class="far fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</section>
<!-- End of Category  section
============================================= -->	