<!-- Start of Best Deal  section
============================================= -->
<section id="or-best-deal-2" class="or-best-deal-section-2">
    <div class="container">
        <div class="or-best-deal-content-2">
            <div class="row"> 
                <div class="col-lg-12">
                    <div class="or-best-deal-slider-wrapper">
                        <div class="or-best-deal-top-content  d-flex justify-content-between">
                            <div class="or-section-title-2 headline">
                                <h2>Best Deals of this week!</h2>
                            </div>
                            <div class="best-deal-countdown ul-li">
                                <ul>
                                    <li class="days">
                                        <span class="or-count-down-number"></span>
                                        <span class="count-unit">Days</span>
                                    </li>

                                    <li class="hours">
                                        <span class="or-count-down-number"></span>
                                        <span class="count-unit">Hours</span>
                                    </li>

                                    <li class="minutes">
                                        <span class="or-count-down-number"></span>
                                        <span class="count-unit">Mins</span>
                                    </li>

                                    <li class="seconds">
                                        <span class="or-count-down-number"></span>
                                        <span class="count-unit">Sec</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="or-best-deal-slider-2">
                            <div class="or-product-item-slider2">
                                <div class="organio-inner-item">
                                    <div class="or-product-item-2 text-center">
                                        <div class="or-product-img-btn position-relative">
                                            <div class="or-product-img">
                                                <img src="assets/img/product/pro2.1.jpg" alt="">
                                            </div>
                                            <div class="price">
                                                <span class="regular-price">$10.00</span>
                                                <span class="discount-price">$9.00</span>
                                            </div>
                                            <div class="e-commerce-btn">
                                                <a href="index-2.html#"><i class="fal fa-shopping-cart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-heart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="or-product-text headline">
                                            <h3><a href="shop-single.html">Organic Smooth Peanut Butter</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="organio-inner-item">
                                    <div class="or-product-item-2 text-center">
                                        <div class="or-product-img-btn position-relative">
                                            <div class="or-product-img">
                                                <img src="assets/img/product/pro2.2.jpg" alt="">
                                            </div>
                                            <div class="price">
                                                <span class="regular-price">$10.00</span>
                                                <span class="discount-price">$9.00</span>
                                            </div>
                                            <div class="e-commerce-btn">
                                                <a href="index-2.html#"><i class="fal fa-shopping-cart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-heart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="or-product-text headline">
                                            <h3><a href="shop-single.html">Organic Moringa</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="organio-inner-item">
                                    <div class="or-product-item-2 text-center">
                                        <div class="or-product-img-btn position-relative">
                                            <div class="or-product-img">
                                                <img src="assets/img/product/pro2.3.jpg" alt="">
                                            </div>
                                            <div class="price">
                                                <span class="regular-price">$10.00</span>
                                                <span class="discount-price">$9.00</span>
                                            </div>
                                            <div class="e-commerce-btn">
                                                <a href="index-2.html#"><i class="fal fa-shopping-cart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-heart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="or-product-text headline">
                                            <h3><a href="shop-single.html">Vegan Vitamin D3</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="organio-inner-item">
                                    <div class="or-product-item-2 text-center">
                                        <div class="or-product-img-btn position-relative">
                                            <div class="or-product-img">
                                                <img src="assets/img/product/pro2.1.jpg" alt="">
                                            </div>
                                            <div class="price">
                                                <span class="regular-price">$10.00</span>
                                                <span class="discount-price">$9.00</span>
                                            </div>
                                            <div class="e-commerce-btn">
                                                <a href="index-2.html#"><i class="fal fa-shopping-cart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-heart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="or-product-text headline">
                                            <h3><a href="shop-single.html">Organic Smooth Peanut Butter</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="organio-inner-item">
                                    <div class="or-product-item-2 text-center">
                                        <div class="or-product-img-btn position-relative">
                                            <div class="or-product-img">
                                                <img src="assets/img/product/pro2.2.jpg" alt="">
                                            </div>
                                            <div class="price">
                                                <span class="regular-price">$10.00</span>
                                                <span class="discount-price">$9.00</span>
                                            </div>
                                            <div class="e-commerce-btn">
                                                <a href="index-2.html#"><i class="fal fa-shopping-cart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-heart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="or-product-text headline">
                                            <h3><a href="shop-single.html">Organic Moringa</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="organio-inner-item">
                                    <div class="or-product-item-2 text-center">
                                        <div class="or-product-img-btn position-relative">
                                            <div class="or-product-img">
                                                <img src="assets/img/product/pro2.3.jpg" alt="">
                                            </div>
                                            <div class="price">
                                                <span class="regular-price">$10.00</span>
                                                <span class="discount-price">$9.00</span>
                                            </div>
                                            <div class="e-commerce-btn">
                                                <a href="index-2.html#"><i class="fal fa-shopping-cart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-heart"></i></a>
                                                <a href="index-2.html#"><i class="fal fa-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="or-product-text headline">
                                            <h3><a href="shop-single.html">Vegan Vitamin D3</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Best Deal  section
============================================= -->