<!-- Start of Blog  section
============================================= -->
<section id="or-blog-2" class="or-blog-section-2">
    <div class="container">
        <div class="or-section-title-2 headline text-center">
            <h2>Наши последние новости</h2>
        </div>
        <div class="or-blog-content-2">
            <div class="or-blog-slide-wrapper">
                <div class="or-blog-slide">
                    {% for new in news %}
                    <div class="organio-inner-item">
                        <div class="or-blog-innerbox">
                            <div class="or-blog-img position-relative">
                                {% if new.image %}
                                <img src="{{new.image.url}}" alt="">
                                {% else %}
                                <img src="https://i.pinimg.com/736x/90/cd/f1/90cdf1ed6438f70e0a7b7a6212fe8c29.jpg">
                                {% endif %}
                            </div>
                            <div class="or-blog-text headline position-relative">
                                <div class="blog-meta">
                                    <a href="{% url "news_detail" new.slug %}">
                                        <i class="fas fa-calendar-alt"></i> {{new.created_at}}
                                    </a>
                                </div>
                                <h3><a href="{% url "news_detail" new.slug %}">{{new.title}}</a></h3>
                                <div class="blog-more-comment d-flex justify-content-between">
                                    <a class="read-more" href="{% url "news_detail" new.slug %}">
                                        Читать далее
                                        <i class="far fa-chevron-right"></i>
                                    </a>
                                    <a class="commnet" href="{% url "news_detail" new.slug %}">
                                        <i class="fas fa-comment"></i>
                                        {{new.comments_count}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Blog  section
============================================= -->