<!-- Start of testimonial  section
============================================= -->
{% load static %}
<section id="or-testimonial" class="or-testimonial-section">
    <div class="container">
        <div class="or-testimonial-content position-relative">
            <span class="testimonial-bg position-absolute">
                <img src="{% static 'assets/img/bg/tst-bg.png' %}">
            </span>
            <div class="or-section-title-2 headline text-center">
                <h2>Отзывы клиента</h2>
            </div>
            <div class="or-tetimonial-slider-wrapper">
                <div class="or-testimonial-slider-area">
                    <div class="or-testimonial-slider">
                        {% for rev in reviews %}
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    {% if rev.image %}
                                    <img src="{{rev.image.url}}" alt="">
                                    {% else %}
                                    <img src='https://cdn-icons-png.flaticon.com/512/9187/9187604.png'>
                                    {% endif %}
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’{{rev.text}}’’</p>
                                    <div class="author-meta">
                                        <h3>{{rev.full_name}}</h3>
                                        <span>{{rev.position}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of testimonial  section
============================================= -->