<!-- Start of testimonial  section
============================================= -->
<section id="or-testimonial" class="or-testimonial-section">
    <div class="container">
        <div class="or-testimonial-content position-relative">
            <span class="testimonial-bg position-absolute"><img src="assets/img/bg/tst-bg.png" alt=""></span>
            <div class="or-section-title-2 headline text-center">
                <h2>Client’s testimonial</h2>
            </div>
            <div class="or-tetimonial-slider-wrapper">
                <div class="or-testimonial-slider-area">
                    <div class="or-testimonial-slider">
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst1.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst2.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst3.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst3.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of testimonial  section
============================================= -->