{% extends "base.html" %}
{% block content %}
{% load static %}

{% include "includes/header-other.html" %}

	<section id="or-login" class="or-login-section">
		<div class="or-login-content sign-login-area d-flex justify-content-center align-items-center">
			<div class="or-login-form">
				<form action="login.html#" method="post">
					<input type="text" placeholder="Your Email" required="">
					<input type="text" placeholder="Your Password" required="">
					<div class="login-button text-center">
						<button>Sign In</button>
					</div>
				</form>
			</div>
		</div>
	</section>


{% endblock content %} 